<%- include('../partials/header') %>
    <h3>
        <%= skill.skill%>
    </h3>
    <h3>Opinion: <%= skill.opinion ? 'I like this one!' : 'This one is mid so far!' %>
    </h3>

<%- include('../partials/footer') %>